<form action="/tasks" method="post">
  <input type="text" placeholder="quantity" value="quantity">
  <input type="text" placholder="name" value="name">
  <input type="submit" value="Add Item">
</form>

<ul>
  <% tasks.forEach(function(task) { %>
    <li><%= task.text %></li>
  <% }) %>
</ul>
